tools/Sandcastle/Schemas/Authoring/inlineCommon.xsd

<?xml version="1.0" encoding="utf-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:maml="http://ddue.schemas.microsoft.com/authoring/2003/5" xmlns:doc="http://ddue.schemas.microsoft.com/authoring/internal" targetNamespace="http://ddue.schemas.microsoft.com/authoring/2003/5" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Schema documentation -->
	<annotation>
		<documentation>
			This schema defines common inline elements.
		</documentation>
	</annotation>
	<!-- include and import declarations -->
	<include schemaLocation="base.xsd" />
	<!-- element declarations -->
	<!-- language markup -->
	<element name="quoteInline" type="maml:textType">
		<annotation>
			<documentation>
				The quoteInline element describes an inline quotation.
			</documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<element name="date" type="maml:textType">
		<annotation>
			<documentation>
				The date element describes a date.
			</documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<element name="foreignPhrase" type="maml:textType">
		<annotation>
			<documentation>
				The foreignPhrase element describes a phrase that is of a language
				that is different than the primary language of the document.
			</documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<element name="phrase" type="maml:inlineType">
		<annotation>
			<documentation>
				The phrase element is a wrapper element for a run of text. 
				It is solely a container and does not specify any semantics
				on its own.
			</documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<element name="legacyBold" type="maml:inlineType">
		<annotation>
			<documentation>
				This element marks bolded text in legacy documents. DO NOT USE IT in authoring new documents.
			</documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<element name="legacyItalic" type="maml:inlineType">
		<annotation>
			<documentation>
				This element marks italicized text in legacy documents. DO NOT USE IT in authoring new documents.
			</documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<element name="legacyUnderline" type="maml:inlineType">
		<annotation>
			<documentation>
				This element marks underlined text in legacy documents. DO NOT USE IT in authoring new documents.
			</documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<complexType name="subscriptType" mixed="false">
		<simpleContent>
			<extension base="token" />
		</simpleContent>
	</complexType>
	<complexType name="superscriptType" mixed="false">
		<simpleContent>
			<extension base="token" />
		</simpleContent>
	</complexType>
	<element name="subscript" type="maml:subscriptType">
		<annotation>
			<documentation>
	        This element marks a subscript in a mathematical expression.
	        </documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<element name="superscript" type="maml:superscriptType">
		<annotation>
			<documentation>
	        This element marks a superscript in a mathematical expression.
	        </documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<element name="notLocalizable" type="maml:inlineType">
		<annotation>
			<documentation>
				The notLocalizable element is a wrapper element for a run of text
				that should not be localized.
			</documentation>
			<appinfo>
				<doc:localizable>false</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<!-- legal and political markup -->
	<element name="copyright">
		<annotation>
			<documentation>
				The copyright element describes the copyright information about a document.
			</documentation>
			<appinfo>
				<doc:localizable>n/a</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
		<complexType>
			<sequence>
				<element name="trademark" type="token">
					<annotation>
						<documentation>
							The trademark element describes some manner of 
							corporate trademark.
						</documentation>
						<appinfo>
							<doc:localizable>true</doc:localizable>
							<doc:type>character</doc:type>
						</appinfo>
					</annotation>
				</element>
				<element name="year" minOccurs="0" maxOccurs="unbounded" type="integer">
					<annotation>
						<documentation>
							The year element describes the year associated with a 
							particular copyright.
						</documentation>
						<appinfo>
							<doc:localizable>true</doc:localizable>
							<doc:type>character</doc:type>
						</appinfo>
					</annotation>
				</element>
				<element name="holder" minOccurs="0" maxOccurs="unbounded" type="token">
					<annotation>
						<documentation>
							The holder element describes the company who holds a
							particular copyright.
						</documentation>
						<appinfo>
							<doc:localizable>true</doc:localizable>
							<doc:type>character</doc:type>
						</appinfo>
					</annotation>
				</element>
			</sequence>
			<attribute name="class">
				<annotation>
					<documentation>
						The class attribute describes the type of trademark used.
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="token">
						<enumeration value="copyright" />
						<enumeration value="trade" />
						<enumeration value="registered" />
						<enumeration value="service" />
					</restriction>
				</simpleType>
			</attribute>
			<attributeGroup ref="maml:contentIdentificationSharingAndConditionGroup" />
		</complexType>
	</element>
	<element name="corporation" type="maml:textType">
		<annotation>
			<documentation>
				The corporation element describes a corporation.
			</documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<element name="country" type="maml:textType">
		<annotation>
			<documentation>
				The country element describes a country.
			</documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>

	<element name="suffix" type="maml:textType">
		<annotation>
			<documentation>
				This element specifies text that will be displayed after the topic links.
			</documentation>
			<appinfo>
			    <doc:localizable>n/a</doc:localizable>
           		    <doc:type>structure</doc:type>
			</appinfo>
		</annotation>
	</element>

	<element name="prefix" type="maml:textType">
		<annotation>
			<documentation>
				This element specifies text that will be displayed after the topic links.
			</documentation>
			<appinfo>
			    <doc:localizable>n/a</doc:localizable>
           		    <doc:type>structure</doc:type>
			</appinfo>
		</annotation>
	</element>

	<element name="separator" type="token">
		<annotation>
			<documentation>
				Specifies text that will be output between links.
			</documentation>
			<appinfo>
			    <doc:localizable>n/a</doc:localizable>
           		    <doc:type>structure</doc:type>
			</appinfo>
		</annotation>
	</element>

	<element name="dynamicLink" type="maml:dynamicLinkType">
		<annotation>
			<documentation>
				The dynamicLink element contains the B-keywords that will be used by K-tables.
			</documentation>
			<appinfo>
			    <doc:localizable>n/a</doc:localizable>
           		    <doc:type>structure</doc:type>
			</appinfo>
		</annotation>
	</element>

	<complexType name="dynamicLinkType" mixed="false">
	<sequence>
		<element ref="maml:prefix" minOccurs="0" maxOccurs="1"/>
		<element ref="maml:separator" minOccurs="0" maxOccurs="1"/>
        	<choice minOccurs="1" maxOccurs="unbounded">
	            <element ref="maml:keyword"/>
        	</choice>
		<element ref="maml:suffix" minOccurs="0" maxOccurs="1"/>
	</sequence>
        <attribute name="type" use="required">
			<annotation>
				<documentation>
					The class attribute describes the type of list.
				</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="bulleted"/>
					<enumeration value="inline"/>
					<enumeration value="table"/>
				</restriction>
			</simpleType>
		</attribute>
    	</complexType>

	<element name="keyword" type="token">
        	<annotation>
	            <documentation>
        		    This element holds the B-keywords.
	            </documentation>
        	    <appinfo>
                	<doc:localizable>n/a</doc:localizable>
			<doc:type>paragraph</doc:type>
		</appinfo>
	        </annotation>
	</element>

	<element name="localizedText" type="maml:inlineType">
		<annotation>
			<documentation>
        		    This element holds the Localized text.
	            	</documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>

	<element name="embeddedLabel" type="maml:inlineType">
		<annotation>
			<documentation>
				This element holds the embedded labels, typically for run-in headings.
	        </documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>

	<!-- group declarations -->
	<group name="inlineCommonGroup">
		<annotation>
			<documentation>
				This type describes the set of inline elements that are likely to be
				needed for block elements' content models.
			</documentation>
		</annotation>
		<choice>
			<element ref="maml:quoteInline" />
			<element ref="maml:date" />
			<element ref="maml:foreignPhrase" />
			<element ref="maml:phrase" />
			<element ref="maml:copyright" />
			<element ref="maml:corporation" />
			<element ref="maml:country" />
			<element ref="maml:notLocalizable" />
			<element ref="maml:subscript" />
			<element ref="maml:superscript" />
			<element ref="maml:legacyBold" />
			<element ref="maml:legacyItalic" />
			<element ref="maml:legacyUnderline" />
			<element ref="maml:dynamicLink"/>
			<element ref="maml:localizedText"/>
			<element ref="maml:embeddedLabel"/>
		</choice>
	</group>
</schema>