tools/SHFB/Schemas/Authoring/inlineLinking.xsd

<?xml version="1.0" encoding="utf-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:maml="http://ddue.schemas.microsoft.com/authoring/2003/5"
		xmlns:doc="http://ddue.schemas.microsoft.com/authoring/internal"
		targetNamespace="http://ddue.schemas.microsoft.com/authoring/2003/5"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<!-- Schema documentation -->
	<annotation>
		<documentation>
			This schema defines common inline elements.
		</documentation>
	</annotation>

	<!-- include and import declarations -->
	<include schemaLocation="base.xsd" />

	<!-- element declarations -->
	<!-- linking elements -->
	<element name="link" type="maml:inlineLinkType">
		<annotation>
			<documentation>
				The link element can contain text but this text
				is discarded at build time in favor of the actual title of
				the link target, so the text in this element is not localizable.
			</documentation>
			<appinfo>
				<doc:localizable>false</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>

	<element name="legacyLink" type="maml:inlineLinkType">
		<annotation>
			<documentation>
				The legacyLink element allows custom text to be used for the link, so
				the text is localizable. The link element is to be preferred over the
				legacyLink element for all new content.
			</documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>

	<!-- media links -->
	<element name="mediaLinkInline" type="maml:mediaLinkInlineType">
		<annotation>
			<documentation>
				The mediaLinkInline element
			</documentation>
			<appinfo>
				<doc:localizable>n/a</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>

	<!-- Sandcastle extension.  Caption placement values. -->
	<simpleType name="captionPlacementType">
		<restriction base="token">
			<enumeration value="before" />
			<enumeration value="after" />
		</restriction>
	</simpleType>

	<!-- Sandcastle extension.  Image placement values. -->
	<simpleType name="imagePlacementType">
		<restriction base="token">
			<enumeration value="near" />
			<enumeration value="center" />
			<enumeration value="far" />
		</restriction>
	</simpleType>

	<complexType name="mediaLinkType">
		<annotation>
			<documentation>This complexType is intended as the content model for media referencing elements in the schema.</documentation>
		</annotation>
		<sequence>
			<element name="caption" minOccurs="0">
				<!-- Sandcastle change.  Updated type so support the placement and lead attribute. -->
				<complexType>
					<annotation>
						<documentation>The caption element describes a summary of an associated object, such as an image.</documentation>
						<appinfo>
							<doc:localizable>true</doc:localizable>
							<doc:type>character</doc:type>
						</appinfo>
					</annotation>
					<simpleContent>
						<extension base="string">
							<attribute name="placement" type="maml:captionPlacementType">
								<annotation>
									<documentation>
										The placement attribute can be used to define the image placement
									</documentation>
								</annotation>
							</attribute>
							<attribute name="lead" type="string">
								<annotation>
									<documentation>
										The lead attribute can be used to define leading text for the caption (i.e. "Figure 1")
									</documentation>
								</annotation>
							</attribute>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="image">
				<complexType>
					<annotation>
						<documentation>A source link targeting the platform object type:  image.</documentation>
						<documentation>The structure required to define a link to an image object.</documentation>
						<documentation>The mediaLink element represents a reference to an image object</documentation>
						<documentation>directly (optionally via a presentation object).</documentation>
						<appinfo>
							<doc:localizable>false</doc:localizable>
							<doc:type>structure</doc:type>
						</appinfo>
					</annotation>
					<attributeGroup ref="maml:linkingGroup" />
					<!-- Sandcastle extention attribute -->
					<attribute name="placement" type="maml:imagePlacementType">
						<annotation>
							<documentation>
								The placement attribute can be used to define the image placement
							</documentation>
						</annotation>
					</attribute>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="mediaLinkInlineType">
		<annotation>
			<documentation>This complexType is intended as the content model for media referencing elements in the schema.</documentation>
		</annotation>
		<sequence>
			<element name="image">
				<complexType>
					<annotation>
						<documentation>A source link targeting the platform object type:  image.</documentation>
						<documentation>The structure required to define a link to an image object.</documentation>
						<documentation>The mediaLinkInline element represents a reference to an image object</documentation>
						<documentation>directly (optionally via a presentation object).</documentation>
						<appinfo>
							<doc:localizable>false</doc:localizable>
							<doc:type>structure</doc:type>
						</appinfo>
					</annotation>
					<attributeGroup ref="maml:linkingGroup" />
				</complexType>
			</element>
		</sequence>
	</complexType>

	<!-- Code links -->
	<simpleType name="codeEntityReferenceStringType">
		<restriction base="token">
			<!--<pattern value='[NTFPME]:[^)(]+([(][^)(]*[)])?'/>-->
			<pattern value='.*' />
		</restriction>
	</simpleType>
	<complexType name="codeEntityReferenceType" mixed="false">
		<simpleContent>
			<extension base="maml:codeEntityReferenceStringType">
				<attribute name="qualifyHint" type="boolean" />
				<attribute name="autoUpgrade" type="boolean" />
				<!-- Sandcastle change.  Added support for alternate link text. -->
				<attribute name="linkText" type="string" />
			</extension>
		</simpleContent>
	</complexType>
	<element name="codeEntityReference" type="maml:codeEntityReferenceType">
		<annotation>
			<documentation>
				This element holds a reference to a code entity.
			</documentation>
			<appinfo>
				<doc:localizable>false</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<element name="parameterReference" type="maml:textType">
		<annotation>
			<documentation>
				This element holds a reference to a parameter.
			</documentation>
			<appinfo>
				<doc:localizable>false</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<group name="codeLinkingGroup">
		<annotation>
			<documentation>
				This type describes the set of inline elements that are
				used for referring to code elements and parameters.
			</documentation>
		</annotation>
		<choice>
			<element ref="maml:codeEntityReference" />
			<element ref="maml:parameterReference" />
		</choice>
	</group>

	<!-- Sandcastle extension.  Related topic link categories.  The most frequently used are listed first. -->
	<simpleType name="relatedTopicCategories">
		<annotation>
			<documentation>
				This defines the GUID used to categorize links in relatedTopics elements.
			</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="1FE70836-AA7D-4515-B54B-E10C4B516E50">
				<annotation>
					<documentation>Conceptual - Concepts group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DAC3A6A0-C863-4E5B-8F65-79EFC6A4BA09">
				<annotation>
					<documentation>How-To - Tasks group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4779DD54-5D0C-4CC3-9DB3-BF1C90B721B3">
				<annotation>
					<documentation>Walkthrough - Tasks group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="38C8E0D1-D601-4DBA-AE1B-5BEC16CD9B01">
				<annotation>
					<documentation>Troubleshooting - Tasks group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="069EFD88-412D-4E2F-8848-2D5C3AD56BDE">
				<annotation>
					<documentation>Sample - Tasks group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="B137C930-7BF7-48A2-A329-3ADCAEF8868E">
				<annotation>
					<documentation>Orientation - Other Resources group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="A689E19C-2687-4881-8CE1-652FF60CF46C">
				<annotation>
					<documentation>Glossary - Other Resources group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="A635375F-98C2-4241-94E7-E427B47C20B6">
				<annotation>
					<documentation>Error Message - Reference group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="56DB00EC-28BA-4C0D-8694-28E8B244E236">
				<annotation>
					<documentation>Whitepaper - Other Resources group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3272D745-2FFC-48C4-9E9D-CF2B2B784D5F">
				<annotation>
					<documentation>XML Reference - Reference group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4A273212-0AC8-4D72-8349-EC11CD2FF8CD">
				<annotation>
					<documentation>Code Entity - Other Resources group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F9205737-4DEC-4A58-AA69-0E621B1236BD">
				<annotation>
					<documentation>Reference Without Syntax - Reference group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="95DADC4C-A2A6-447A-AA36-B6BE3A4F8DEC">
				<annotation>
					<documentation>Reference With Syntax - Reference group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="B8ED9F21-39A4-4967-928D-160CD2ED9DCE">
				<annotation>
					<documentation>UI Reference - Reference group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="68F07632-C4C5-4645-8DFA-AC87DCB4BD54">
				<annotation>
					<documentation>SDK Technology Overview Architecture - Concepts group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4BBAAF90-0E5F-4C86-9D31-A5CAEE35A416">
				<annotation>
					<documentation>SDK Technology Overview Code Directory - Concepts group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CDB8C120-888F-447B-8AF8-F9540562E7CA">
				<annotation>
					<documentation>SDK Technology Overview Orientation - Other Resources group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="356C57C4-384D-4AF2-A637-FDD6F088A033">
				<annotation>
					<documentation>SDK Technology Overview Scenarios - Concepts group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="19F1BB0E-F32A-4D5F-80A9-211D92A8A715">
				<annotation>
					<documentation>SDK Technology Overview Technology Summary - Concepts group</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<!-- external resource links -->
	<complexType name="inlineLinkType" mixed="true">
		<simpleContent>
			<extension base="maml:textType">
				<attributeGroup ref="maml:linkingGroup" />
				<attribute name="topicType_id" type="maml:relatedTopicCategories" />
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="sharedContentParameterType" mixed="true">
		<choice minOccurs="0" maxOccurs="unbounded">
			<group ref="maml:inlineGroup" />
		</choice>
		<attribute name="name" type="token" />
	</complexType>
	<element name="sharedContentParameter" type="maml:sharedContentParameterType">
		<annotation>
			<documentation></documentation>
			<appinfo>
				<doc:localizable>true</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<complexType name="sharedContentType">
		<sequence>
			<element ref="maml:sharedContentParameter" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attributeGroup ref="maml:contentIdentificationSharingAndConditionGroup" />
		<attributeGroup ref="maml:linkingGroup" />
	</complexType>
	<element name="sharedContent" type="maml:sharedContentType">
		<annotation>
			<documentation></documentation>
			<appinfo>
				<doc:localizable>n/a</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
	</element>
	<!-- External redir web link -->
	<element name="externalLink">
		<annotation>
			<documentation>
				The externalLink element describes links that are external to Microsoft
				and must be managed through a redirection scheme.
			</documentation>
			<appinfo>
				<doc:localizable>n/a</doc:localizable>
				<doc:type>character</doc:type>
			</appinfo>
		</annotation>
		<complexType>
			<sequence>
				<element name="linkText" type="maml:textType">
					<annotation>
						<documentation>
							The linkText element describes the text of a link.
						</documentation>
						<appinfo>
							<doc:localizable>true</doc:localizable>
							<doc:type>character</doc:type>
						</appinfo>
					</annotation>
				</element>
				<element name="linkAlternateText" type="maml:textType" minOccurs="0">
					<annotation>
						<documentation>
							The linkAlternateText element describes the alternate
							text of the link, used for "alt text" on the Web.
						</documentation>
						<appinfo>
							<doc:localizable>true</doc:localizable>
							<doc:type>character</doc:type>
						</appinfo>
					</annotation>
				</element>
				<element name="linkUri" type="maml:textType">
					<annotation>
						<documentation>
							The linkUri element describes the URI of the link.
						</documentation>
						<appinfo>
							<doc:localizable>true</doc:localizable>
							<doc:type>character</doc:type>
						</appinfo>
					</annotation>
				</element>
				<!-- Sandcastle extention attribute -->
				<element name="linkTarget" type="maml:textType" minOccurs="0">
					<annotation>
						<documentation>
							The linkTarget element describes the target of the link.
						</documentation>
						<appinfo>
							<doc:localizable>true</doc:localizable>
							<doc:type>character</doc:type>
						</appinfo>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<!-- group declarations -->
	<group name="inlineLinkingGroup">
		<annotation>
			<documentation>
				This type describes the set of inline elements that are likely to be
				needed for block elements' content models.
			</documentation>
		</annotation>
		<choice>
			<group ref="maml:codeLinkingGroup" />
			<element ref="maml:link" />
			<element ref="maml:legacyLink" />
			<element ref="maml:mediaLinkInline" />
			<element ref="maml:externalLink" />
		</choice>
	</group>
</schema>
